body {
    margin: 0;
    padding: 0;
    background-color: #cccccc; 
  
}


.nav-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(100, 19, 83);
  border : 1px solid
}

li {
  float: right
}

.nav-link {
  display: block;
  color: rgb(219, 199, 199);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px
 
}

.logo{
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  padding: 2em 0.1em;
  color: #fff;
  margin: 20px 20px;
  text-align: center;

}


li a:hover {
  background-color:#005f5f
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default
}
/* footer styles */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(100, 19, 83);
  color: white;
  text-align: center;
}
  
  section h2 {
    text-align : center;
    margin: 20px
}

section h3 {
   
    margin: 30px 150px
}




 

*{
    margin: 0;
    padding:0;
  }
  .cf:before,.cf:after{
    content: '';  
    display: table;
  }
  .cf:after{
    clear:both;    
  }
  h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    color:#444;
    background-color:g;
    padding: 10px;
    font-size: 14px;
  }
  .container{
    position: relative;
    margin: 50px auto;
    max-width: 80%;
    background-color: #f1f1f1;
    padding: 10px;
    border:1px solid gray #c5c5c5;
    width: 900px;
 height: 610px;
 margin:35px auto;
 font-family: 'Raleway', sans-serif;
  }
  
  .gallery{
    width: 100%;
    overflow: hidden;
  }
  
  .image{
    
    display: inline-block;
    padding: 2%;
    background-color: #fff;
    margin: 1%;
    width: 18%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    text-align: center;  
    border:1px solid #c3c3c3;
    cursor: pointer;
  }
  
  .image figure{
    width: 100%;
    margin-bottom: 5px;
  }
  
  .image figure img{
    width: 100%;
  }
  
  input[type=button]{
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
   }
  
  
  
@media screen and (max-width: 600px) {
   
    .image {
        width: 70%;
        margin: 40px ;
     
    }
    .logo{
      display: none;
       }
}
